# ====================================== CLI ====================================== 

# IOTA Rebased testnet RPC
REBASE_RPC=https://api.testnet.iota.cafe:443

# Endpoint for GC operations
GC_ENDPOINT=http://87.106.12.48:8080

# User Data
USER_PRIVATE_KEY=iotaprivkey1...
USER_ADDRESS=0x...
USER_GAS_COIN_ID=0x...

# Provider Data
PROVIDER_PRIVATE_KEY=iotaprivkey1...
PROVIDER_ADDRESS=0x...
PROVIDER_GAS_COIN_ID=0x...

# DCS System Data
DCS_PACKAGE_ID=0x6f1171331dd83efac6cecba51a5943d50553c2728554c70cd7d4d37dfa0eccde
DCS_WHITELIST_ID=0x544d411977ea6255686388050b40f5652207ee12e0b3cb6e7d8ce1bea98f0bc7
DCS_CIDLIST_ID=0x17ee700860a8b106b51430839996125a074a609b29a834b24d60404d32753e39
DCS_CLOCK_ID=0x6
WALLET_GAS_BUDGET=10000000
FAUCET_URL=https://faucet.testnet.iota.cafe
IOTA_GRAPHQL_ENDPOINT=https://graphql.testnet.iota.cafe

# Active Wallet (user/provider)
ACTIVE_PRIVATE_KEY=iotaprivkey1...
ACTIVE_ADDRESS=0x...
ACTIVE_GAS_COIN_ID=0x... # optional, if not set, one of the following env vars will be used, according to the expected actor: USER_GAS_COIN_ID, PROVIDER_GAS_COIN_ID



